/*body { background:#f8f8f8 url(images/logo-2.jpg) top center no-repeat; padding-top:120px; background-size:contain; }*/
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");

input,
select,
textarea {
  min-height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Droid Arabic Kufi", tahoma;
  font-weight: 700;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

h4 {
  font-size: medium;
}

h5 {
  font-size: small;
}

h6 {
  font-size: smaller;
}

p {
  font-family: "Droid Arabic Naskh", tahoma;
  font-size: small;
}

body {
  margin: 0;
  padding: 0;
  background: #efebdd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#fff5e8', GradientType=0);
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

}

.EjazahTitleIcon {
  float: right;
}

.SecondTitle {
  float: right;
  color: #c7a554;
  margin-top: 12px;
}

.page {
  padding-bottom: 10vh;
  display: none;
  position: fixed;
  top: 100%;
  width: 100%;
  height: 80vh;
  margin-top: 6vh;
  overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 0vh;
}

.HomePage {
  display: block;
  top: 0
}

.USerInfo,
.NewTable {
  border: 1px solid #d0d0d0;
  display: block;
  padding: 10px;
  width: 90%;
  margin: 10px auto 5px auto;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

.UserAvatar {
  display: block;
  margin: 10px auto;
  width: 22vw;
}

.MainServices {
  display: block;
  width: 80%;
  clear: both;
  margin: 0 auto 10px auto;
  overflow: hidden;
}

.NewTable .form-control {
  padding: 2px;
}

.MainServ {
  float: right;
  border: 1px solid #099e7b;
  padding: 2px;
  border-radius: 5px;
  margin: 8px 2%;
  width: 46%;
  background-color: #ffffff;

}

.MainServ>div {
  display: block;
  width: 70%;
  height: 13vh;
  margin: 10px auto;
  clear: both;
}

.EjazahServIcon {
  background: url(../images/Ejazah.png) center center no-repeat;
}

.EznServIcon {
  background: url(../images/Ezn.png) center center no-repeat;
}

.MainServ:active,
.MainServ:hover {
  background: #c7a554;
  border-color: #7b4f10;
}

.MainServ:active .EjazahServIcon,
.MainServ:hover .EjazahServIcon {
  background-image: url(../images/EjazahBlack.png)
}

.MainServ:active .EznServIcon,
.MainServ:hover .EznServIcon {
  background-image: url(../images/EznBlack.png)
}

.MainServ:active span,
.MainServ:hover span {
  background: #222222;
}

.MainServ img {
  display: table;
  margin: 10px auto;
  clear: both;
}

.MainServ span {
  padding: 3px 10px;
  text-align: center;
  width: 100%;
  background: #099e7b;
  color: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  display: block;
}

.TableTR span {
  font-size: 14px;
  float: right;
  padding: 5px 0px;
  border-top: 1px solid #999999;
  min-height: 35px
}

.TableTR span:first-child {
  width: 40%;
  white-space: nowrap;
}

.TableTR span:last-child {
  width: 60%;
  font-weight: 700;
}

.NotifyBellMenu {
  position: absolute;
  top: 15vh;
  left: 5px;
  right: 5px;
  bottom: 20vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px;
  height: max-content;
  max-height: 50vh;
  border: 1px solid #f0f0f0;
  box-shadow: #cccccc 0px 2px 4px 0px;
}

.NotifyBellMenu a {
  display: block;
  border-bottom: 1px solid #ccc;
  font-size: 0.6em;
  font-weight: 400;
  padding: 10px 0;
  color: #666666;
}

.authors_table a {
  font-weight: 400;
  font-size: 0.8em;
}

.authors_table tr:active {
  background: #007bff !important;
}

.authors_table tr:active a {
  color: #ffffff !important;
}

.new {}

.authors_table .btn {
  font-size: 0.7em;
}

.authors_table th {
  font-family: Droid Arabic Kufi;
  white-space: nowrap;
  font-size: 0.8em;
}

.tickets {
  height: 77vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 3vh;
}

.ticket_link {
  font-weight: 400;
}

.preloader {
  display: block;
  background: #ffffff url(../images/loading.gif) center center no-repeat;
  background-size: 25%;
  z-index: 99999999;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}

.splash {
  display: block;
  background: #8c292b;
  background: #8c292b url(../images/splash.jpg) center center no-repeat;
  background-size: 100% 100%;
  z-index: 9999;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.skip_to_home {
  position: absolute;
  left: 35%;
  width: 30%;
  color: #ffffff !important;
  bottom: 15%;
  z-index: 999999999;
  cursor: pointer;
}

.check_interent {
  position: absolute;
  left: 20%;
  width: 60%;
  color: #ffffff !important;
  bottom: 10%;
  z-index: 99;
}

.login_form {
  margin-top: 70px;
}

.alert {
  border-radius: 25px;
  overflow: hidden;
}

.btn-primary,
.btn-danger {
  color: #ffffff !important;
}

.UserVacationsList {
  background: rgba(255, 255, 255, 0.7)
}

.UserVacationsList h2,
.UserPermessionsList h2,
.EmpPermessionsListDiv h2 {
  color: #ffffff;
  background: #099e7b;
  padding: 10px 15px 10px 5px;
  position: relative;
  border-radius: 15px 0 0 15px;
  right: -4%;
}

.NotchBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vh;
  left: 0;
  right: 0;
  z-index: 99999;
  /* background: #099e7b;
  background: -moz-linear-gradient(top, rgba(158, 158, 158, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(158, 158, 158, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(158, 158, 158, 1) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#00ffffff', GradientType=0);*/
}

.btn-disabled {
  background: #cccccc;
}

.btn-success {
  color: #ffffff !important;
}

#accordion,
#accordion2,
div[ID^='accordion'] {

  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;

}

.DoublePagesWide {
  width: 200vw;
  position: relative;
  background: #ffffff;
  height: 70vh;
  overflow-y: scroll;
}

.AdminNav {
  padding: 5px;
  display: block;
  clear: both;
  overflow: hidden;
  margin-top: 3vh;
}

.AdminNav button {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  background: #eeeeee;
}

.AdminNav button:last-child {
  margin-right: 12px;
}

.AdminNav button.Active {
  color: #ffffff !important;
  background: #c7a554;
}

div[ID^='accordion'] .panel-title a {
  color: #696969;
  font-size: 1em;
  font-weight: 400;
}

.panel-heading {
  margin-bottom: 15px;
}

.panel-heading h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.SuccessAlert {
  background-color: #75ad2b !important;
  color: #ffffff;
}

.FailedAlert {
  background-color: red !important;
  color: #ffffff;
}

/* Source :: https://stackoverflow.com/questions/3338680/is-there-a-css-selector-by-class-prefix */

div[class^='NewAlert-'],
.NewAlert {
  position: fixed;
  top: -40%;
  padding: 10% 4%;
  border-radius: 0 0 15px 15px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: #cccccc 0px 4px 15px 0px;
  text-align: center;
  z-index: 99999999999999999999999;
  width: 90%;
  left: 5%;
  overflow: hidden;
}

.CloseMe {
  position: relative;
  /* bottom: 5%; */
  /* left: 40%; */
  background: crimson;
  border-radius: 100%;
  z-index: 9;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  /* width: 20%; */
  right: 45%;

}

.main_menu {
  position: fixed;
  text-align: center;
  BOTTOM: 0px;
  z-index: 999;
  height: auto;
  zoom: 0.8;
  width: 100%;
  padding-right: 0%;
  padding-left: 0%;
  background: #efebdd;
}

.main_menu a {
  display: inline-block;
  zoom: 0.9;
  overflow: hidden;
  width: 24%;
  text-align: center;
  padding: 8px 0px;
  /*border-left: 1px solid #ffffff;*/
}

#logout {
  border-left: none
}

#seconds-counter {
  position: fixed;
  border-radius: 0%;
  padding: 5px;
  bottom: -20vh;
  left: 0%;
  right: 0%;
  height: 40px;
  border-radius: 0;
  z-index: -1;
  text-align: center;
  color: #000000;
  font-size: 1.4em;
  font-weight: 700;

}

form { overflow: hidden; display: block; }

.form-control { font-size: 12px; color: #ffffff ; }

.form-control:focus {
  color: #ffffff; }

.SearchBarBottom {    display: table;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  background: #964444;
  border-radius: 0px;
  border-bottom: 5px solid #6b3030;
  position: fixed;
  bottom: 59px;
  z-index: 999999;}
.SearchBarBottom input { background: none; border: none; padding: 0 }
.SearchBarBottom a { position: absolute; text-align: center;
  top: 0px;
  left: 0px;
  color: #ffffff;
  background: none;
  border: none;
  width: 100%;
  padding: 8px;}

  .SearchBarBottom a i { color:#ffffff ; }

  .SearchBarBottom a:active { background: #e52f27; }

.SearchBarTop { display: table; margin:  0 auto 12px auto; width: 94% ;  background: #964444; border-radius: 10px; border-bottom: 5px solid #6b3030; position: relative; }
.SearchBarTop input { background: none; border: none; }
.SearchBarTop button { position: absolute ; top:8px; left: 10px; color:#ffffff; background: none; border:none;}

.SearchDetailed { display: table; margin:  0 auto 12px auto; width: 94% ;  background: #964444; border-radius: 10px; border-bottom: 5px solid #6b3030; position: relative; }
.SearchDetailed input { background: #503636;
  border: none;
  box-shadow: inset #2f2626 1px 1px 1px 0px;
  padding: 6px;
  height: auto;
  min-height: auto;
  margin: 6px 0; } 

  .SearchDetailed button { margin-bottom: 8px; margin-top: 8px; font-size: 12px; }
form a,
.login_form a,
.check_ticket_by_number a {
  font-weight: 400;
  color: #666666;
  display: block;
  clear: both;
  padding: 15px 8px;
  font-size: 14px;
  text-decoration: underline;
}

.ItemDetails { left: -100%; 
  top: 6vh;
  display: block;
  position: fixed;
  height: 95vh;
  z-index: 999999999999999;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 3vh; width: 100% }

  .ItemDetails .MainThumbblock {
     box-shadow: none; 
    max-height: 82vh;
    height: auto;
    overflow-y: scroll;
}

.MainThumb  { display: block; background: #ffffff; height: 24.5vh; width: 94%; margin: 0px 3% 15px 3%; border-radius: 15px; box-shadow: #c5c0ad 0px 4px 5px 0px; 
overflow: hidden; border: 1px solid #ffffff;}
.MainThumb:active { background: yellow; }
.MainThumb img { display: block; width: 100%; max-height: 24.5vh }
.MainThumbblock  { box-shadow:#989898 inset 0px 0px 20px 0px; height: auto; }
.MainThumbblock b {     color: #810d0d;
  padding: 4px;
  margin-top: 8px;
  position: relative;
  display: block; }
.MainThumbblock p { color: #555555 ; font-family: 'tahoma'; font-weight: 400; padding:4px; }
.MainThumbblock span { color:#555555; font-weight: 400; font-size: 12px; margin-bottom: 10px; padding-left: 0  }

.login_form input {
  text-transform: lowercase;
}

.main_menu a.active { border-bottom: 10px solid #c32e2e}
.main_menu a.active i { color: #c32e2e }
.t_id {
  margin: 45px 0;
}

.main_menu a i {
  font-size: 2.4em;
  font-weight: 400;
  width: 55%;
  text-align: center;
  margin: 7px auto;
  color: #000000;
  /* zoom: 0.7; */
  /*height: 32px;*/
  display: block;
}

.main_menu a i img {
  width: 100%
}

.main_menu a i:active {
  color: #ffbd54;
}

.main_menu a span {
  float: right;
  white-space: nowrap;
  font-family: "Droid Arabic Kufi", tahoma;
  padding: 11px;
}

/* RTL JQUERY MOBILE  */
.ui-btn-icon-right:after {
  left: 0.5625em !important;
  right: auto;
}

.ui-btn-icon-right {
  padding-left: 2.5em;
  padding-right: 1.5em;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
  width: 48px;
  height: 48px;
}

.posts h2 {
  line-height: 200%;
  display: block;
  clear: both;
  margin: 22px 5px;
  color: #555;
}

.comment h2 {
  line-height: 200%;
  margin: 0px 5px;
  font-size: smaller;
}

.posts .comment {
  background: #fafff9;
  padding: 14px;
  border-radius: 15px;
  margin: 10px 0;
  border: 1px solid #79ca65;
}

.main_ticket {
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px;
  background: #ffffff;
  overflow: hidden;
}

.main_ticket,
.posts .comment,
.main_ticket p,
.posts .comment p {
  font-size: 0.9em;
  font-family: Droid Arabic Kufi;
  line-height: 2;
}

.posts .comment:nth-child(even) {
  /*background: #f9f9f9;*/
}

#logout {}

.ui-page-theme-a .ui-btn {
  background-color: transparent;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.ui-icon-bars:after {
  background-position: center;
  background-size: 30px;
  /*background-size: 24px 24px;*/
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
  -webkit-border-radius: 0em;
  border-radius: 0em;
}

.ui-page-theme-a .ui-btn:active,
.ui-page-theme-a .ui-btn:hover {
  background-color: inherit;
  border: none;
  box-shadow: none;
  color: inherit;
  text-shadow: none;
}

.ui-btn-icon-notext:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after {
  left: 3% !important;
  margin-left: -3px !important;
}

.ui-btn-icon-notext:after,
.ui-btn-icon-left:after,
.ui-btn-icon-right:after {
  top: 27% !important;
  margin-top: -11px !important;
}

.header .ui-btn {
  width: 48px !important;
  height: 48px !important;
}

/*---End of rtl jquery mobile ---*/
/*table, th, td {
  border: 1px solid #cccccc !important;
}*/
body,
#main_page,
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {}

.u_comment {
  border: 1px dashed #ff9800 !important;
  border-radius: 5px !important;
  margin-top: 15px;
  background: #fff5e6;
  box-shadow: inset #ffbd54 3px 3px 15px 0px;
  font-size: 1.5em;
  color: #946416;
}

.cars_list {
  display: block;
  overflow: hidden;
}

.about {
  margin-top: 5%;
}

.about h1 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.h2 {
  font-size: 1.5em;
  margin: 25px 0 !important;
}

.madad_body {}

.header {
  background-color: #ffbd54 !important;
  height: 15%;
  padding-top: 13%;
  margin-bottom: 50px;
  z-index: 997;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#main_page {
  padding-top: 2.5vh;
  height: 100vh;
  position: relative;
  z-index: 99;
}

#menu {
  background-color: #96641d;
  direction: rtl;
  text-align: right;
  opacity: 0.95;
  position: fixed;
  height: 100vh;
}

#menu .ui-panel-inner-top-HG {
  background: #7b4f10 url("../images/logo.png") center center no-repeat;
  background-size: contain;
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
}

#menu .ui-panel-inner h3 {
  color: #ffffff;
  margin-bottom: 2em;
}

#menu .ui-listview {
  margin-top: 22vh;
}

#menu .ui-listview li a {
  text-align: right;
  color: #ffffff;
  line-height: 200%;
  font-family: "Droid Arabic Kufi", tahoma;
  font-weight: 400;
}

#menu .ui-listview li a:active {
  color: #da8e0b;
}

.header .bars_icon {
  margin-top: 14px;
}

.MenuBurger {
  float: right;
  margin-right: 1%;
  margin-top: 3.3%;
  font-size: 1.7em;
  padding: 7px 10px;
  z-index: 998;
  zoom: 0.8;
  border-radius: 4px;
}

.MenuBurger i {
  display: block;
  color: #099e7b;
}

.hidden {
  display: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff !important;
}

.form-control:focus {
  background-color:#c32e2e;

}

.logo {
  width: 55%;
  margin: 38vh auto 0% auto;
  text-align: center;
  clear: both;
}

.AppTitle {
  clear: both;
  font-size: 20px;
  width: 75%;
  margin: 15px auto;
  display: block;
  line-height: 34px;
  color: #ffffff;
}

.AppLoginForm {
  display: block;
  width: 70%;
  margin: 10px auto
}

.AppLoginForm fieldset {
  margin-bottom: 20px;
}

.AppLoginForm fieldset input {
  border-color: #c6a452;
  border-width: 0 0 2px 0;
  border-radius: 0;
  box-shadow: none;
}

.NotifyBell {
  float: right;
  margin: 3px 1px 0 0;
  padding: 5px;
  zoom: 1.3;
}

.dl-horizontal dd {
  width: 60%;
}

.dl-horizontal dt,
.dl-horizontal dd {
  padding: 4px;
}

.user-dl dt {
  width: 35%;
  float: right;
  font-weight: 400
}

.user-dl dd {
  width: 60%;
  float: right;
}

.user-dl dd span {
  color: #888888;
  background: #e6e3e3;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  min-height: 32px
}

.Loginbutton {
  background-color: #c6a452;
  border: none;
  color: #ffffff;
}

.NotifyBell:active .badge {
  background: #ffffff;
  color: red;
}

.NotifyBell span.badge {
  padding-top: 5px;
  padding-bottom: 5px;
}

.login_success {
  float: right;
  width: 54%;
  padding: 5px;
  font-weight: 700;
  background: #d89934;
  border-radius: 2px;
  margin-top: 3%;
  margin-right: 10px;
  color: #ffffff;
}

.post_area {
  background-color: #ffffff;
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 0px;
  width: 50%;
  height: 270px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}

.post_area:nth-child(odd) {
  border-left: 1px solid #f0f0f0;
}

.post_area .p_content {
  line-height: 230%;
}

.post_area img {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #f0f0f0;
}

.post_area a {
  text-decoration: none;
  overflow: hidden;
  display: block;
}

.post_area h2 {
  font-size: 16px;
  text-decoration: none;
  color: #555555;
}

.post_area span {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

.posts {
  padding: 1% 1% 10% 1%;
  overflow: hidden;
}

.hr {
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
  width: 100%;
  clear: both;
}

.madad_body {
  margin-top: 40px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.toggle {
  z-index: 9999999999999999999;
  cursor: pointer;
}

#sidebar {
  z-index: 9999999999999999999;
  overflow: hidden;
  background: #fc0;
  /*background: -moz-linear-gradient(left, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(left, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to right, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=1 );*/
}

#sidebar ul {
  list-style: none;
  margin-top: 30px;
}

#sidebar ul li a {
  display: block;
  font-weight: bold;
  font-size: medium;
  color: #111111;
  font-family: "Droid Arabic Kufi", tahoma;
  padding: 25px 5%;
  border-bottom: #954a00 1px solid;
}

.home-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f4f4f4;
  width: 100%;
  z-index: 99;
  border-top: 1px solid #c5c5c5;
}

.home-icons a:last-child {
  border-left: none;
}

.home-icons a span {
  text-align: center;
}

.home-icons a i {
  width: 100%;
  display: block;
  padding: 0;
  color: #888888;
  margin: 8px 0;
  font-size: 36px;
}

.home-icons a p {
  display: block;
  width: 100%;
  padding: 5px 0;
  color: #888888;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Droid Arabic Kufi", tahoma;
  text-align: center;
}

label {
  font-weight: 400;
}

.home-icons a.active i {
  color: #fc0;
}

.home-icons a.active i,
.home-icons a.active p {
  color: #75ad2b;
}

.home-icons a:active {
  background: #fc0;
}

.home-icons a:active i,
.home-icons a:active p {
  color: #000000;
}

.car-item {
  /*background: #f9f9f9;
background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
border-bottom:1px dashed #999;*/
  padding: 20px;
}

iframe {
  background: #f0f0f0;
}

.about h4 {
  font-size: large;
}

.about p {
  font-size: 1em;
  line-height: 190%;
}

.car-item ul {
  list-style: none;
}

.car-item li {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.car-item h3 {
  font-size: large;
}

.btn {
  font-size: 1em;
  font-family: "Droid Arabic Kufi", tahoma;
  border-radius: 3px;
}

form label {
  font-size: medium;
  font-family: "Droid Arabic Kufi", tahoma;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

iframe {
  background: #ccc url(../images/ellipsis.gif) center center no-repeat;
}

.contact h2 {
  font-size: 14px;
  white-space: nowrap;
}

.contact h3 {
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.map_me {
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  background: #090;
  color: #ffffff;
}

.map_me:active {
  background: #fc0;
  text-decoration: none;
}

.map_me i {
  margin-left: 6px;
}

.ItemActive {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999;
    margin: 6vh 0 0 0 ;
    border-radius: 0;
    height: 90vh !important ;
    border-radius: 0;
 }

@media screen and (min-width: 750px) {
  .main {
    zoom: 2;
  }
}